name: Continuos Integration with Github

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Log in to Docker
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: maykeferreira/naming-server:0.0.1-SNAPSHOT
      - name: Setup Java JDK
        uses: actions/setup-java@v3.9.0
        with: 
          java-version: '17'
          distribution: 'adopt'
      - name: Build Eureka Naming Server Container Image
        working-directory: ./06-naming-server
        run: mvn spring-boot:build-image -Dspring-boot.build-image.imageName=springio/gs-spring-boot-docker
        
      - name: Build API Gateway Container Image
        working-directory: ./07-api-gateway
        run: mvn spring-boot:build-image -Dspring-boot.build-image.imageName=springio/gs-spring-boot-docker
        
      - name: Build Cambio Microservice Jar
        working-directory: ./05-cambio-service
        run: mvn clean package -DskipTests
        
      - name: Build Book Microservice Jar
        working-directory: ./06-book-service
        run: mvn clean package -DskipTests
        
      - name: Docker compose Build
        working-directory: .
        run: docker-compose build      
      
